In [10]:
import yfinance as yf
import pandas as pd

df = pd.read_csv("../data/raw/spy.csv", header=[0,1], index_col=0, parse_dates=True)

df["return_1d"] = df["Close"].shift(-1) / df["Close"] - 1

df.head()

Price           Close       High        Low       Open     Volume return_1d
Ticker            SPY        SPY        SPY        SPY        SPY
Date
2010-01-04  85.515656  85.560928  84.142335  84.791267  118944600  0.002647
2010-01-05  85.742020  85.779751  85.153454  85.462832  111579900  0.000704
2010-01-06  85.802368  86.013647  85.591089  85.658998  116074400  0.004221
2010-01-07  86.164558  86.270198  85.402439  85.643902  131091100  0.003328
2010-01-08  86.451294  86.489025  85.764637  85.938185  126402800  0.001396

In [11]:
df = df.dropna()

df.tail()

Price            Close        High         Low        Open    Volume return_1d
Ticker             SPY         SPY         SPY         SPY       SPY
Date
2024-12-23  591.158813  591.765177  584.170528  587.381389  57635800  0.011115
2024-12-24  597.729553  597.769355  591.934154  592.520677  33160100  0.000067
2024-12-26  597.769348  598.902533  594.528696  595.940247  41219100 -0.010527
2024-12-27  591.476868  594.230439  587.252104  593.991813  64969300 -0.011412
2024-12-30  584.727173  588.226291  580.939799  584.399176  56578800 -0.003638

In [12]:
df["y"] = (df["return_1d"] > 0).astype(int)

df.head()

Price           Close       High        Low       Open     Volume return_1d  y
Ticker            SPY        SPY        SPY        SPY        SPY
Date
2010-01-04  85.515656  85.560928  84.142335  84.791267  118944600  0.002647  1
2010-01-05  85.742020  85.779751  85.153454  85.462832  111579900  0.000704  1
2010-01-06  85.802368  86.013647  85.591089  85.658998  116074400  0.004221  1
2010-01-07  86.164558  86.270198  85.402439  85.643902  131091100  0.003328  1
2010-01-08  86.451294  86.489025  85.764637  85.938185  126402800  0.001396  1

In [16]:
import os

output_dir = os.path.join("..", "data", "processed")
os.makedirs(output_dir, exist_ok=True)

df.to_csv(os.path.join(output_dir, "spy_labeled.csv"), index=False)